@using CreITBuy.Infrastructure.Data.Models;
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
   <div class="jumbotron col-md-12" background-color="none">

        <div class="heading-container bottom-buffer-md">
            <h1>Welcome to CreITBuy Platform!</h1>
            <h3>Here you can buy all you want!</h3>
            <h3>Take a look.</h3>
        </div>
    <hr id="border" >
    </div>


    <ul class="gallerywide clr normal" id="gallerywide">
		@foreach (var product in (List<Product>)ViewData["Products"])
		{
			<li rel="" class="wrap tleft rel fleft ad_id2bpPB " data-adnumber="1" data-id="32273579">
	<div class="mheight tcenter" style="
    margin-left: -19px;
">
		<a title="@product.Name" href="/../Product/Details?productId=@product.Id" style="
    width: 374px;
" class="thumb tdnone scale1 rel detailsLinkPromoted linkWithHash ">
							<img style="
       max-width: 344px;
    max-height: 180px;
" src="@("data:image/jpeg/;base64," + Convert.ToBase64String((byte[])product.ProductImages.FirstOrDefault().Image.ImageData))">
		</a>
	</div>
	<div class="inner">
		        <span class="courier-stamp">
        <i data-icon="delivery"></i>
    </span>
    
        <h4 class="normal">
		    <a href="/../Product/Details?productId=@product.Id" title="@product.Name" class="link linkWithHash detailsLinkPromoted">
				<strong>@product.Name</strong>
			</a>
		</h4>
		<p class="lheight14 color-1 margintop2 brkword">
			<span class="breadcrumb small">
            						@(string.Join(", ",product.Categories)).</span>
		</p>
	</div>
	<ul class="date-location">
		
		<li style="
    margin-left: -41px;
    margin-top: -61px;
">Posted on: @product.PostedOn.ToString("dd.MM.yyyy")</li>
	</ul>
	<div class="price ">
					@product.Price.ToString("0.00") лв.		                		        
					</div>
   	   	</li>
		}
     
    </ul>
   